
.socialMediaBanner {

}

.flyer {

}

.letterHead {

}

.emailSignature {
    padding: 40px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

.code {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    background-color: #252525;
    color: #dadada;
    padding: 10px;
}